@using ShopsProducts.SDK;

@{
    ViewBag.Title = "EBay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row oneshop-top">
    <div class="col-md-1">
        <img src="~/Content/Images/Logo/eBayLogo.jpg" width="130px" />
    </div>
    <div class="col-md-10 col-md-offset-1 query-form">
        @using (Html.BeginForm("EBay", "Shops"))
        {
            @Html.TextBox("query", "", new { @class = "form-control inline-block query-searchline" })
            <input type="submit" name="search" value="Search" class="btn btn-primary query-buttonsubmit" />
        }
    </div>

    <div class="col-md-10 col-md-offset-1">
        <ul>
            @if (ViewBag.items != null)
            {
                ISingleItem[] array = (ISingleItem[])ViewBag.items;
                
                for (int i = 0; i < array.Length; i++)
                {
                    <li>
                        <div class="list-image-left inline-block">
                            <a href="">
                                <img src="@array[i].GalleryUrl" alt="@array[i].Title" class="img-rounded"/>
                            </a>
                        </div>
                        <div class="list-alltext inline-block">
                            <h3 class="list-title">
                                <a href="">
                                    asd22
                                </a>
                            </h3>
                            <div class="list-price">
                                asd33
                            </div>
                        </div>
                        
                    </li>
                }
            }
        </ul>
    </div>
</div>
