body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.inline-block {
    display: inline-block;
}


.allshops{
    margin: auto;
    padding: 20px;
}
.oneshop-top{
    padding-top: 15px;
}
.query-form{
   padding-top: 17px;
}
input.query-searchline{
    max-width: 350px;
}
input.query-buttonsubmit {
    width: 110px;
}